#Directories
.vs/
Engine/binaries/objs_int/

3rdPartyLibs/GLFW/*
3rdPartyLibs/glad_OpenGL/*
3rdPartyLibs/spdlog/*
3rdPartyLibs/imgui/*

#GLFW
!3rdPartyLibs/GLFW/
!3rdPartyLibs/GLFW/src/
!3rdPartyLibs/GLFW/include/
!3rdPartyLibs/GLFW/deps/
!3rdPartyLibs/GLFW/LICENSE.md
!3rdPartyLibs/GLFW/premake5.lua

#Glad
!3rdPartyLibs/glad_OpenGL/
!3rdPartyLibs/glad_OpenGL/src/
!3rdPartyLibs/glad_OpenGL/include/
!3rdPartyLibs/glad_OpenGL/premake5.lua

#spdlog
!3rdPartyLibs/spdlog/
!3rdPartyLibs/spdlog/src/
!3rdPartyLibs/spdlog/include/
!3rdPartyLibs/spdlog/LICENSE
!3rdPartyLibs/spdlog/premake5.lua

#imgui
!3rdPartyLibs/imgui/
!3rdPartyLibs/imgui/src/
!3rdPartyLibs/imgui/misc/
!3rdPartyLibs/imgui/premake5.lua
!3rdPartyLibs/imgui/LICENSE.txt

#Glm
3rdPartyLibs/Glm/doc/

#STB
3rdPartyLibs/stb/docs/
3rdPartyLibs/stb/tests/
3rdPartyLibs/stb/tools/
3rdPartyLibs/stb/stb_image_resize_test/
3rdPartyLibs/stb/binaries/
3rdPartyLibs/stb/objs-int

#files
*.user
*.vcxproj
*.filters
*.pdb
*.sln
imgui.ini